<div class="container">
<div class="row">
<div class="col-sm-8">
<h1>Blog Posts</h1>
<% @posts.each do |post| %>
<div class="jumbotron mt-3">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <%= link_to  "Read More", post_path(post), :class =>'btn btn-default' %>
    </div>
<% end %>
</div>

<div class="col-sm-4">
 <h1>Advertistments</h1>
<% @advertistments.each do |advertistment| %>
<div class="jumbotron mt-3">
    <h3><%= advertistment.title %></h3>
    <p><%= advertistment.body %></p>
    <%= link_to  "Read More", advertistment_path(advertistment), :class =>'btn btn-default' %>
    </div>
<% end %>
</div>
</div>
</div>
